#page-login {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-login-content {
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#left-side {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

div.welcome-texts {
  display: flex;
  flex-direction: column;
  width: 80%;

  align-items: center;
  justify-content: center;
}

.page-title {
  font-size: 6rem;
  font-weight: 700;
  color: var(--color-primary);
}

h1 {
  font-size: 3.3rem;
  font-weight: 500;
  color: black;

  margin-top: 3.7rem;
}

p {
  font-size: 1.7rem;
  font-weight: 200;

  margin-top: 1.2rem;
  text-align: center;
  margin-bottom: 3.7rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form button {
  width: 100%;
  height: 3.2rem;

  border-radius: 0.6rem;

  margin-top: 1.2rem;
  background: var(--color-primary);
  border: none;
  color: white;
  transition: 0.2s;
}

.login-form button:hover {
  background: var(--color-primary-dark);
  cursor: pointer;
}

.login-form .input-block input {
  width: 100%;
  height: 3.6rem;
  border-radius: 0.6rem;
  border: 1px solid var(--color-border);
  outline: 0;
  padding: 0 1.2rem;
  font: 300 1.6rem Ubuntu;
}

.login-form .input-block + .input-block {
  margin-top: 1.4rem;
}

.login-form a {
  color: var(--color-border);

  margin-top: 1.2rem;
  text-align: center;
  font-weight: 300;

  transition: 0.2;
}

.login-form a:hover {
  color: var(--color-border-dark);
}
